.root {
    -fx-background-color: #b8c5fc;
}

.table-view {
	-fx-base: #c1c1c1;
	-fx-background-color: #efefef;
	-fx-control-inner-background: #efefef;
}

.button {
	-fx-background-color: #eff0f2;
	-fx-font-family: "Times New Roman", Times, serif;
	-fx-font-size: 15;	
}

.button:hover {
    -fx-background-color: #e5e5e5;
    -fx-color: white;
}

.button:pressed, .button:default:hover:pressed {
	-fx-background-color: #eff0f2;
	-fx-text-fill: #1d1d1d; 
}

.default-button {
	-fx-background-color: #eff0f2;	
	-fx-font-family: "Times New Roman", Times, serif;
	-fx-font-size: 12;
}

.back-button {
	-fx-background-color: #eff0f2;	
	-fx-font-family: "Times New Roman", Times, serif;
	-fx-font-size: 13;
}

.title-text {
	-fx-font-family: "Times New Roman", Times, serif;


	-fx-font-weight: bold;	

	-fx-font-size: 24;

}

.normal-text {
	-fx-font-family: "Times New Roman", Times, serif;
	-fx-font-size: 15;
}

.split-pane > .split-pane-divider {
	-fx-padding: 0 0.02em 0 0.02em;
	-fx-background-color: #eff0f2;
}

.scroll-pane {
	-fx-background-color: #efefef;
}


.main-menu-btn{
	-fx-font-size: 30;	
	-fx-font-weight: bold;	
}



.login-title {
	-fx-font-family: "Times New Roman", Times, serif;
	-fx-font-size: 30;
}

.report-text {
	-fx-font-family: "Times New Roman", Times, serif;
	-fx-font-size: 20;
}

